.modal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  padding: 15px;
  width: 652px;
  height: 190px;
  border-radius: 2px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(41, 51, 57, 0.5);
}

.modal-dialog:focus {
  outline: none;
}

/* -- close button -- */
.modal-close {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
}

.modal-close:hover:before,
.modal-close:hover:after {
  background: #333;
}
